<!DOCTYPE HTML>
<html>
<head>
    <title>FSDP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/content/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/content/assets/css/noscript.css" /></noscript>
</head>
<body>
    <div class="jumbotron align-center">
        <h1>Continuing Education</h1>
        <p class="lead">Continous education is the key to self improvement and we are here to help.</p>
    </div>
    <header id="header">
        <h1>&copy; Chris Wong @DateTime.Now.Year</h1>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("TileView","Cours")">Courses</a></li>
                <li><a href="@Url.Action("Index", "LessonViews")">Completed Lessons</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("_LoginPartial")
                }
                @if (User.Identity.IsAuthenticated)

                {
                    <li><a href="#acct">Account</a></li>
                }
                <li><a href="#footer" class="icon solid fa-info-circle">Contact</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <div id="acct" class="panel">
        @Html.Partial("_LoginPartial")
        @if (User.IsInRole("Admin"))
        {
            <li><a href="@Url.Action("Index","UsersAdmin")">Users</a></li>
            <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
        }
    </div>
    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Magna feugiat sed adipiscing</h2>
                    <p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>
                </section>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="text" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/content/assets/js/jquery.min.js"></script>
    <script src="~/content/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/content/assets/js/browser.min.js"></script>
    <script src="~/content/assets/js/breakpoints.min.js"></script>
    <script src="~/content/assets/js/util.js"></script>
    <script src="~/content/assets/js/main.js"></script>

    @RenderSection("scripts", false)
</body>

</html>