@model IEnumerable<FSDP.DATA.EF.Cours>

@{
    ViewBag.Title = "Index";
}

<div>
    <p>
        <a href="@Url.Action("tileview","Cours")">Tile view</a>
    </p>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

    @if (!User.IsInRole("Admin"))
    {
        foreach (var item in Model.Where(x => x.isActive == true))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                    <div>
                        <a href="@Url.Action("Index", "Lessons", new { id = item.CourseID })">Curriculum</a>
                    </div>
                </td>

            </tr>

        }
    }
    @if (User.IsInRole("Admin"))
    {
        foreach (var item in Model)
        {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                    </td>

                </tr>

        }
    }
</table>