@model IEnumerable<FSDP.DATA.EF.Cours>

@{
    ViewBag.Title = "TileView";
}

<div>
    <p>
        <a href="@Url.Action("Index","Cours")">List view</a>
    </p>
</div>

<div id="main">
    @if (User.IsInRole("Admin"))
    {
        foreach (var item in Model)
        {
            <article class="thumb">
                <a href="~/content/images/fulls/@item.Photo" class="image"><img src="~/content/images/fulls/@item.Photo" alt="" /></a>
                <h2>@item.CourseName</h2>
                <p>@item.CourseDescription</p>
                @Html.ActionLink("Enroll", "Details", new { id = item.CourseID })
                <div>
                    <a href="@Url.Action("Index", "Lessons", new { id = item.CourseID })">Curriculum</a>
                </div>

            </article>
        }
    }
    @if (!User.IsInRole("Admin"))
    {
        foreach (var item in Model.Where(x => x.isActive == true))
        {
            <article class="thumb">
                <a href="~/content/images/fulls/@item.Photo" class="image"><img src="~/content/images/fulls/@item.Photo" alt="" /></a>
                <h2 class="course">@item.CourseName</h2>
                <p class="course">@item.CourseDescription</p>
                @Html.ActionLink("Enroll", "Details", new { id = item.CourseID }, new {@class = "main-button" })
                <div>
                    @Html.ActionLink("Curriculum","Index", "Lessons", new { id = item.CourseID }, new {@class  ="main-button" })
                </div>

            </article>
        }
    }
</div>