@model FSDP.UI.MVC.Models.ContactViewModel


@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron stripe">
    <div class="container">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    //AntiForgeryToken() renders a hidden <input> tag that verifies this form info can only be used by our server.
    @Html.AntiForgeryToken()

    <div class="contact">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { })
            <div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { })
            <div>
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer3, htmlAttributes: new { })
            <div>
                @Html.EditorFor(model => model.Answer3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answer3, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="contactinfo">
                @*<a href="@Url.Action("Test", "Lessons", new { completed = true })">Finish</a>*@
                @*@Html.ActionLink("Finish", "Test","Lessons", new { completed = true}, new { @class = "btn btn-danger"})*@
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>

}

