@model IEnumerable<FSDP.DATA.EF.LessonView>

@{
    ViewBag.Title = "Completed Lessons";
}

<h2 class="align-center">@ViewBag.Title</h2>


<div class="table">
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.LessonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lesson.Cours.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateViewed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.Cours.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                    @Html.HiddenFor(modelItem => item.UserID)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewID }, new { @class = "aButton" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LessonViewID }, new { @class = "aButton" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewID }, new { @class = "dbutton" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.LessonViewID })
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}