@model IEnumerable<FSDP.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDFfilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PDFfilename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LessonID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LessonID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LessonID })
            </td>
        }
        @if(User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.LessonID })
            </td>
        }

    </tr>
    }

</table>
